.about-section {
  background-image: url("../../assets/aboutProfile.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: #1a1a1a;
}

.about-content {
  padding: 50px 50px;
  color: #f2f2f2;
}

.aboutme {
  width: 100%;
  margin: 2rem 0;
}

.about-content .btn {
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 1rem 2rem;
  margin: 2rem 0;
  width: 30%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .about-section {
    background-image: url("../../assets/mobile/gymProfileMobile.jpg");
    background-position: center;
  }

  .aboutme {
    margin: 1rem 0;
  }

  .about-content .btn {
    width: 100%;
    font-size: 1rem;
  }
  
}
